<!-- app/views/articles/edit.html.erb -->
<h1>Edit Article</h1>

<!-- Render the shared _form partial for editing the article -->
<%= render 'form' %>

<!-- Link to navigate back to the articles index -->
<%= link_to 'Back', articles_path %>
